<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsu.vizeq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:name="com.lsu.vizeq.MyApplication"
        android:icon="@drawable/actionbaricon_47x47"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lsu.vizeq.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" 
            android:icon="@drawable/actionbaricon_47x47">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.lsu.vizeq.SpotifyService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.lsu.vizeq.PlayerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>

        <receiver android:name="com.lsu.vizeq.RemoteControlReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lsu.vizeq.MainActivity"
            android:label="@string/title_activity_main"
            android:icon="@drawable/actionbaricon_47x47" >
            <action android:name="com.lsu.vizeq.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.lsu.vizeq.RoleActivity"
            android:label="@string/title_activity_role"
            android:screenOrientation="portrait" 
            android:icon="@drawable/actionbaricon_47x47">
        </activity>
        <activity
            android:name="com.lsu.vizeq.SoundVisualizationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sound_visualization"
            android:theme="@style/FullscreenTheme"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.HostActivity"
            android:label="@string/title_activity_host"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.VizEQ"
            android:label="@string/uppercaseVIZEQ"
            android:screenOrientation="portrait" 
            android:icon="@drawable/launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lsu.vizeq.HostMenuActivity"
            android:label="@string/title_activity_host_menu"
            android:screenOrientation="portrait" 
            android:icon="@drawable/actionbaricon_47x47">
        </activity>
        <activity
            android:name="com.lsu.vizeq.PreferenceVisualizationActivity"
            android:label="@string/title_activity_preference_visualization"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.MusicQueueListActivity"
            android:label="@string/title_musicqueue_list"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.MusicQueueDetailActivity"
            android:label="@string/title_musicqueue_detail"
            android:parentActivityName=".MusicQueueListActivity"
            android:icon="@drawable/actionbaricon_47x47" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MusicQueueListActivity" />
        </activity>
        <activity
            android:name="com.lsu.vizeq.MusicQueueActivity"
            android:label="@string/title_activity_music_queue"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
			android:icon="@drawable/actionbaricon_47x47">
        </activity>
        <activity
            android:name="com.lsu.vizeq.SearchPartyActivity"
            android:label="@string/title_activity_search_party"
            android:parentActivityName="com.lsu.vizeq.RoleActivity"
            android:icon="@drawable/actionbaricon_47x47" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lsu.vizeq.RoleActivity" />
        </activity>
        <activity
            android:name="com.lsu.vizeq.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
    </application>

</manifest>