<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsu.vizeq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lsu.vizeq.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.lsu.vizeq.SpotifyService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.lsu.vizeq.PlayerActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.lsu.vizeq.RemoteControlReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lsu.vizeq.MainActivity"
            android:label="@string/title_activity_main" >
            <action android:name="com.lsu.vizeq.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.lsu.vizeq.RoleActivity"
            android:label="@string/title_activity_role" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.SoundVisualizationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sound_visualization"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.HostActivity"
            android:label="@string/title_activity_host" >
        </activity>
    </application>

</manifest>