<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsu.vizeq"
    android:versionCode="17"
    android:versionName="1.2.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
 	<uses-feature android:name="android.hardware.camera" 
 				  android:required="false"/>
	<uses-feature android:name="android.hardware.camera.autofocus"
				  android:required="false"/>
	
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />  

    <application
        android:name="com.lsu.vizeq.MyApplication"
        android:icon="@drawable/launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lsu.vizeq.LoginActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.lsu.vizeq.SpotifyService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.lsu.vizeq.PlayerActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name="com.lsu.vizeq.RemoteControlReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lsu.vizeq.MainActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_main" >
            <action android:name="com.lsu.vizeq.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </activity>
        <activity
            android:name="com.lsu.vizeq.RoleActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_role"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.SoundVisualizationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_sound_visualization"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.SettingsActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.HostActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_host" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.VizEQ"
            android:icon="@drawable/launch"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lsu.vizeq.HostMenuActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_host_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.PreferenceVisualizationActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_preference_visualization" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.MusicQueueListActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_musicqueue_list" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.MusicQueueDetailActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_musicqueue_detail"
            android:parentActivityName=".MusicQueueListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MusicQueueListActivity" />
        </activity>
        <activity
            android:name="com.lsu.vizeq.MusicQueueActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_music_queue" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.SearchActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.SearchPartyActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_search_party"
            android:parentActivityName="com.lsu.vizeq.RoleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lsu.vizeq.RoleActivity" />
        </activity>
        <activity
            android:name="com.lsu.vizeq.ProfileActivity"
            android:icon="@drawable/actionbaricon_47x47"
            android:label="@string/title_activity_profile">
        </activity>
        <activity
            android:name="com.lsu.vizeq.RequestDetailsActivity"
            android:label="@string/title_activity_request_details"
            android:parentActivityName="com.lsu.vizeq.PreferenceVisualizationActivity"
            android:icon="@drawable/actionbaricon_47x47" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lsu.vizeq.PreferenceVisualizationActivity" />
        </activity>
        <activity
            android:name="com.lsu.vizeq.AboutActivity"
            android:label="@string/title_activity_about"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
        <activity
            android:name="com.lsu.vizeq.HostSoundVisualizationActivity"
            android:label="@string/title_activity_host_sound_visualization"
            android:icon="@drawable/actionbaricon_47x47">
        </activity>
        <activity
            android:name="com.lsu.vizeq.HostProfileActivity"
            android:label="@string/title_activity_host_profile"
            android:icon="@drawable/actionbaricon_47x47" >
        </activity>
    </application>

</manifest>